[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
aiogram = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
sqlalchemy = "*"
asyncpg = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.10"
